
/* Estilo de la cabecera header */
header {
  
  font-family: oswald;
  background-color: #372E4B; /*morado claro*/
  padding: 20px;
  height: 200px;
  color: #A2482D; /*naranja*/
  
  text-transform: uppercase;    /* Mayúsculas */
  margin: 0 0 2%;             /* Espacio debajo */
  font-weight: bold;            /* Negrita */  
  position: relative; /* Para que los elementos flotantes estén relativos a este contenedor */
  
}


h1#vinsou {
 font-size: 65px;
 background-color: #372E4B;
 color: #A2482D; /*naranja*/
 margin-left: 20px;
}

h2#disvinpos {
 font-size: 25px;
 background-color: #372E4B;
 color: white;
 margin-top:-40px;
 margin-left: 235px;
}

#iconos {
	display:inline; /*no actuan como bloques*/
	justify-content: right;	
}

/*estilo de los iconos*/
#persona{
  width: 3em;
  height: 3em;
 
 position: absolute;
  bottom: 10px;
  right: 10px;
}

#lupa{
	  width: 3em;
  height: 3em;
   
  position: absolute;
  bottom: 9px;
  right: 120px;
	

}
#imcarrito{
   width: 3em;
  height: 3em;
   
  position: absolute;
  bottom: 9px;
  right: 65px;
}
/*BUSCADOR
#input-busqueda{
  display:none;
  position: absolute;
  bottom: 10px;
  right: 120px;
  border: 1px solid #241D2F;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #241D2F;      
  margin: 8px 0;
  padding: 8px;
  width: 30%;
}*/

 /*adaptamos las letras en la cabecera para que sea adaptativa*/
@media only screen and (max-width: 770px) {
 /*disminuimos el tamaño de la letra y cambiamos el margen*/
 h1#vinsou {
 font-size: 55px;
}
 h2#disvinpos{
  font-size: 20px;
  margin-left: 20px;
 }
}
/*cuando la pantalla es menor a 580px*/
@media only screen and (max-width: 580px) {
 header#home {
 height: 220px;;
 }
}



/* ======== VIDEO ======== */

#videos{
	display:flex;
  justify-content: center;  /* Centra el video horizontalmente */
}
#video-background-container{

	border-radius: 15px;
  height: auto; /* Altura inicial del video */
  width: 100%; /* Mantiene la proporción del video */
  max-width: 1200px; /* El video no debe exceder el 100% del ancho del contenedor */
  max-height:300px;
  overflow: hidden; /* Es importante para que no se salga el video del contenedor */
  
  z-index:0;
  
}

#video-background{  
  border-radius: 15px;
  height: auto; /* Altura inicial del video */
  width: 100%; /* Mantiene la proporción del video */
  max-width: 1200px; /* El video no debe exceder el 100% del ancho del contenedor */
  max-height:300px;
 object-fit: cover; /* Asegura que el video cubra el contenedor sin distorsionarse */
  transition: transform 1s ease-in-out; /* Transición de deslizamiento */
  transform: translateX(0); /* El video empieza en su posición original */

}