
/*Grid para la galería responsiva de productos*/
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /**/
  gap: 2rem;
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/*para que en tamaño grande de pantalla muestre 4 productos*/
@media (min-width: 900px){
  .products{ grid-template-columns: repeat(4, minmax(220px,1fr)); } /*4 productos*/
  .products > div:nth-child(7){ grid-column-start: 1; } /* Forzamos que el 7 empiece en la siguiente fila */
}

/*para que en la linea con solo dos productos, no se mezcle con la siguiente*/
.products > div:nth-child(7) {
  grid-column-start: 1; 
}

/*Ajuste para cada producto*/
.product {
  
  background: #6E6385;      
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.categorias {
	color: #241D2F;
	padding-left: 2rem;
}
	
/* Imagen de producto */
.product img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Título */
.product h3 {
  font-size: 1.1rem;
  background: #6E6385;  
  margin: 0.5rem 0;
  font-family: 'Cinzel', serif; /* fuente estilizada tipo rock */

}

/* Precio */
.product .price {
  font-size: 1rem;
  background: #6E6385;  
  font-weight: bold;
  color: #ff4444;           /* rojo rockero */
}

/* Efecto hover */
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

/*Ajuste de las fotos de los productos*/
#gif2,#gif3, #gif4, #cd1, #cd2 {
 
  aspect-ratio: 1 / 1; /* lo fuerza a cuadrado */
  object-fit: cover;   /* recorta sin deformar */
  
}
